html, body {
    height: 100%;
    margin: 0;
    background-color: slategray;
}
.mapbox {
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mapbox .overlay {
    position: absolute;
    /* top: 0;
    left: 0; */
    z-index: 314159;
    pointer-events: none;
}

.mapbox .overlay .btn {
    pointer-events: auto;
}

#map{
  /* width: 100%; */
  /* margin: 0 0 15px;
    width: 1580px;
    height: 888px; */
}

@media only screen and (min-width: 1000px) {
  .leaflet-container {
    margin-top: 60px;
    height: 888px;
    width: 1580px;
    max-width: 100%;
    max-height: 100%;
  }
}
@media only screen and (max-width: 999px) {
  .leaflet-container {
    height: 800px;
    width: 1580px;
    max-width: 100%;
    max-height: 100%;
  }
}
/* .leaflet-container {
    height: 1200px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
} */
.info {
padding: 6px 8px;
font: 14px/16px Arial, Helvetica, sans-serif;
background: white;
background: rgba(255,255,255,0.8);
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 5px;
}
.info h4 {
margin: 0 0 5px;
color: #777;
}

/* .animated-icon{
    width: 20px;
    height: 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    box-shadow: 0px 0px 4px white;
    transition: all 1s 
  } */

  .animated-icon {
    /* Tamaño de la viñeta individual */
    width:112px;
    height:156px;
    /* Cómo hay establecido un tamaño, centramos con margin:auto */
    margin:auto;  
    /* Cargamos el sprite (el repeat-x se puede omitir, por defecto se repite) */
    background:url(ifk0SLH.png) repeat-x;
    /* Aplicamos la animación "walk": 0.8seg, 6 viñetas y repetimos infinitamente */
    animation:walk .8s steps(6) infinite;
    /* Posicionamos el personaje sobre el camino de madera */
    position:relative;
    bottom:34px;
  }
  
  /* Animación de personaje caminando: Simplemente mueve el sprite sheet hacia la izquierda, realizando el movimiento. */
  @keyframes walk {
    /* Partimos de la primera viñeta del sprite sheet */
    0% { background-position:0 }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% { background-position:-672px }
  }

.infoBar {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    margin-top: 60px;
    /* margin-left: 20px; */
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    /* padding: 5px 5px; */
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 0px 0px rgba(112, 128, 144, 0.87);
    border-radius: 5px;
    width: 1580px;
    height: 888px;
    /* opacity: 0.2; */
    background-color: transparent;
    outline:20px solid rgb(55, 117, 179);
}

.infoBarRight
 {  
     position: fixed;
    justify-content: left;
    align-items: left;
    text-align: left;
    /* top: 10;
    right: 10; */
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    /* padding: 60px 80px; */
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.3);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.modal-content {
    width: 700px;
    height: 700px;
}
.button {
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.resetbutton {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }

  .resetbutton:hover {background-color: #e7e7e7;}